<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.software.achilles.tasked" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashboardActivity"
            android:label="@string/dashboard"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Preferences"
            android:label="@string/settings"
            android:parentActivityName=".DashboardActivity"
            android:theme="@style/SettingsList">
            <!--Meta-data is used to handle the back button, which right now is Dashboard, but it-->
            <!--won't be forever-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashboardActivity" />
        </activity>

    </application>

</manifest>
